<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-textexpander-workflow</string>
	<key>connections</key>
	<dict>
		<key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAE389BD-9DAC-4DB1-BB12-8F684B3D8A1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Search TextExpander snippets and run them</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TextExpander</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
		delay 0.05
		keystroke q
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DAE389BD-9DAC-4DB1-BB12-8F684B3D8A1C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>expand</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>XDEBUG_CONFIG="idekey=vagrant" /usr/local/bin/php filter.php "{query}"</string>
				<key>subtext</key>
				<string>Enter to copy the snippet abbreviation to the clipboard</string>
				<key>title</key>
				<string>Search TextExpander snippets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>DAE389BD-9DAC-4DB1-BB12-8F684B3D8A1C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
